asn1crypto==0.24.0
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
cryptography==2.7
docopt==0.6.2
enum34==1.1.6
future==0.16.0
idna==2.8
ipaddress==1.0.22
kerberos==1.1.1
numpy==1.14.3
oauthlib==3.0.2
pandas==0.23.0
pycparser==2.19
PyHive==0.5.2
pykerberos==1.2.1
pyOpenSSL==19.0.0
PySocks==1.7.0
python-dateutil==2.7.3
python-dotenv==0.10.3
pytz==2018.4
PyYAML==3.13
requests==2.22.0
requests-kerberos==0.2
requests-oauthlib==1.2.0
scrypt==0.8.6
six==1.12.0
tabulate==0.8.2
tweepy==3.8.0
typing==3.7.4
urllib3==1.24.2
